<section class="max-w-5xl mx-auto">
  <!-- Header -->
  <div class="flex items-center justify-between px-6 py-4 border-b">
    <button class="flex items-center gap-3" routerLink="/users">
      <i class="bi bi-arrow-left text-[#1DB4DE]"></i>
      <span class="text-black text-xs font-semibold">GO BACK</span>
    </button>

    <div class="flex flex-col items-center">
      <!-- <img [src]="agent?.profile_image || 'https://i.pravatar.cc/100'" alt="Agent" class="w-24 h-24 rounded-full " /> -->
      <div
        class="w-[5rem] h-[5rem] rounded-full overflow-hidden bg-gray-200 flex items-center justify-center text-xl font-semibold text-gray-700"
      >
        <ng-container *ngIf="agent?.profile_image; else headerInitials">
          <img
            [src]="agent.profile_image"
            alt="Agent"
            class="w-full h-full object-cover"
          />
        </ng-container>
        <ng-template #headerInitials>
          {{ getInitials(agent) }}
        </ng-template>
      </div>

      <h1 class="mt-2 text-xl font-semibold">
        {{ agent?.name }} {{ agent?.last_name || "" }}
      </h1>
      <div class="flex space-x-4 text-sm text-gray-500 mt-1">
        <div class="flex items-center space-x-1">
          <span class="material-icons text-gray-400 text-base">call</span>
          <span>{{ agent?.mobile || "N/A" }}</span>
        </div>
        <span>|</span>
        <div class="flex items-center space-x-1">
          <span class="material-icons text-gray-400 text-base">email</span>
          <span>{{ agent?.email || "N/A" }}</span>
        </div>
      </div>
    </div>

    <div>
      <!-- Active toggle -->
      <!-- <label class="inline-flex relative items-center cursor-pointer">
                <input type="checkbox" value="" class="sr-only peer" />
                <div
                    class="w-11 h-6 bg-gray-200 rounded-full peer peer-checked:bg-green-500 transition-all duration-300">
                </div>
                <span class="ml-3 text-sm font-medium text-gray-900">Active</span>
            </label> -->

      <div class="w-[150px] flex justify-end items-center">
        <mat-slide-toggle
          [checked]="isActive"
          (change)="onToggleChange($event)"
          class="flex-row-reverse"
          [ngClass]="{
            'active-toggle': isActive,
            'inactive-toggle': !isActive
          }"
        >
          <!-- fixed-width label prevents layout shift -->
          <span class="inline-block w-[70px] text-center whitespace-nowrap">
            {{ isActive ? "Active" : "Inactive" }}
          </span>
        </mat-slide-toggle>
      </div>
    </div>
  </div>

  <!-- Stats Bar -->
  <div
    class="flex flex-wrap justify-between px-6 py-4 my-4 bg-gradient-to-r from-cyan-300 via-green-400 via-yellow-200 to-red-300 text-center rounded-[16px] text-gray-800"
  >
    <div class="flex-1 py-2 border-r border-gray-300">
      <h2 class="text-sm">Customers</h2>
      <p class="font-semibold text-lg">{{ agent?.max_players }}</p>
    </div>
    <div class="flex-1 py-2 border-r border-gray-300">
      <h2 class="text-sm">Shift Time</h2>
      <p class="font-semibold text-lg">07:00 am - 06:00 pm</p>
    </div>
    <div class="flex-1 py-2 border-r border-gray-300">
      <h2 class="text-sm">Created on</h2>
      <p class="font-semibold text-lg">Mar 28, 2020</p>
    </div>
    <div class="flex-1 py-2">
      <h2 class="text-sm">Created by</h2>
      <p class="font-semibold text-lg">Admin</p>
    </div>
  </div>

  <!-- Tabs -->
  <div class="pe-6 border-b">
    <nav class="flex space-x-4 text-sm font-medium text-gray-600">
      <button
        *ngFor="let tab of tabs"
        (click)="setActiveTab(tab)"
        [ngClass]="{
          'border-b-2  border-gray-500 text-black': activeTab === tab,
          'hover:text-gray-900': activeTab !== tab
        }"
        class="pb-2 focus:outline-none"
      >
        {{ tab.name }}
      </button>
    </nav>
  </div>

  <!-- Content -->
  <div class="py-6">
    <app-performance
      *ngIf="activeTab.component === 'performance'"
    ></app-performance>
    <app-manage-customers
      *ngIf="activeTab.component === 'customers'"
    ></app-manage-customers>
    <app-message-history
      *ngIf="activeTab.component === 'messages'"
    ></app-message-history>
  </div>
</section>
