::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-content,
::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-title,
::ng-deep .mat-mdc-slide-toggle .mat-internal-form-field {
  font-family: "Raleway", sans-serif !important;
  flex-direction: row-reverse;
}
::ng-deep .mat-internal-form-field>label {
    margin-right: 4px !important;
}

::ng-deep .mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
    padding: 24px 24px 35px 36px !important;
}
/* component.css */

/* Toggle bar color */

::ng-deep
  .mdc-switch--selected:enabled:hover:not(:focus):not(:active)
  .mdc-switch__handle::after {
  background: #e6f7f4 !important;
}
::ng-deep .mdc-switch:enabled:focus:not(:active) .mdc-switch__track::before {
  background: rgba(250, 250, 250, 0.801) !important;
}

::ng-deep .mdc-switch__track::before {
  background: white !important;
}

::ng-deep .mdc-switch--selected:enabled:active .mdc-switch__handle::after {
  background: #96e2d3ed !important;
}
::ng-deep .mdc-switch--selected:enabled:active .mdc-switch__ripple::after,
::ng-deep .mdc-switch--selected:enabled:focus .mdc-switch__ripple::after {
  background: #9ef4e3 !important;
}

::ng-deep .mdc-switch__track::after {
  background: #60BAA8 !important;
}
::ng-deep .mdc-switch:enabled:focus:not(:active) .mdc-switch__track::after {
  background-color: #60BAA8 !important;
}

::ng-deep .mdc-switch--selected .mdc-switch__icon {
  fill: #60BAA8 !important;
}

::ng-deep .mdc-switch--unselected:enabled .mdc-switch__handle::after {
  background: grey !important;
}

::ng-deep .mdc-switch--unselected .mdc-switch__icon {
  fill: white !important;
}
::ng-deep .mdc-switch__track::before {
  border-color: grey !important;
}

::ng-deep
  .mdc-switch--selected:enabled:focus:not(:active)
  .mdc-switch__handle::after {
  background: #e8fbf7 !important;
}


.raleway {
  font-family: "Raleway", sans-serif !important;
}

.sidebar-font {
  font-family: "Poppins", sans-serif;
}

nav a i {
  font-size: 16px;
}
::ng-deep .mat-mdc-menu-content {
  background-color: white !important;
  border-radius: 16px;
}

::ng-deep .mat-mdc-menu-panel {
  border-radius: 16px !important;
  background: linear-gradient(to bottom right, #67e8f9, #4ade80, #fde047, #fca5a5);
  padding: 2px;
}
::ng-deep .mdc-menu-item-text {
  font-family: "Poppins", sans-serif !important;
}

::ng-deep .material-icons {
  font-size: 19px;
}

::ng-deep .head-drop .mat-mdc-menu-item .mat-icon {
  margin-top: 4px !important;
}

::ng-deep .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400 !important;
  color: #4b5563;
  font-size: 14px;
}

@media (max-width: 640px) {
  header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}



