.poppins {
  font-family: "Poppins", sans-serif !important;
}

body {
  font-family: "Raleway", sans-serif !important;
  background-color: #f7f9fc;
}

h2 {
  font-family: "Poppins", sans-serif;
}
.raleway{
  font-family: "Raleway", sans-serif !important;
}
.table-header th {
  font-weight: 600;
  color: #000000;
  text-align: left;
  padding: 8px 16px;
  text-transform: capitalize;
}

.table-row td {
  padding: 5px 16px;
  border-top: 1px solid #e5e7eb;
  color: #1f2937;
}

.table-row td span {
  font-weight: 600;
}
