.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.3s ease;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: #ff4b2b;
  border-radius: 50%;
  border: 5px solid transparent; /* make the base border transparent */
  background: conic-gradient(
    rgba(29, 180, 222, 0.5) 0%,
    rgba(137, 234, 67, 0.5) 32.21%,
    rgba(241, 245, 46, 0.5) 66.35%,
    rgba(221, 10, 13, 0.5) 100%
  );
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 5px), #000 0) center/100% 100% no-repeat;
  mask: radial-gradient(farthest-side, #0000 calc(100% - 5px), #000 0) center/100% 100% no-repeat;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


/* Full screen overlay with transparent background */
/* .progress-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.1); /* light transparent overlay /
  z-index: 9999;
  pointer-events: none; /* allow clicks to pass /
}

/* Progress bar at header bottom /
.progress-bar {
  position: fixed;
  top: 64px; /* header ke niche /
  left: 0;
  height: 4px;
  width: 0%;
  background: linear-gradient(90deg, #ff4b2b, #ff416c);
  animation: progress 1.5s infinite linear;
  z-index: 10000;
}

/* Smooth infinite progress animation /
@keyframes progress {
  0% { width: 0%; }
  50% { width: 50%; }
  100% { width: 100%; }
} */
