body {
  font-family: "Raleway", sans-serif !important;
  background-color: #f7f9fc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

::ng-deep .mat-mdc-dialog-title::before {
  display: none;
  width: 0;
  height: 0px;
  content: "";
  vertical-align: 0;
}

::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-content,
::ng-deep .mat-mdc-dialog-container .mat-mdc-dialog-title,
::ng-deep .mat-mdc-slide-toggle .mat-internal-form-field {
  font-family: "Raleway", sans-serif !important;
}

::ng-deep .mat-mdc-dialog-container-with-actions .mat-mdc-dialog-content {
  padding: 24px 24px 35px 36px !important;
}
/* component.css */

/* Toggle bar color */
::ng-deep
  .mdc-switch--selected:enabled:hover:not(:focus):not(:active)
  .mdc-switch__handle::after {
  background: #e6f7f4 !important;
}
::ng-deep .mdc-switch:enabled:focus:not(:active) .mdc-switch__track::before {
  background: rgba(250, 250, 250, 0.801) !important;
}

::ng-deep .mdc-switch__track::before {
  background: white !important;
}

::ng-deep .mdc-switch--selected:enabled:active .mdc-switch__handle::after {
  background: #96e2d3ed !important;
}
::ng-deep .mdc-switch--selected:enabled:active .mdc-switch__ripple::after,
::ng-deep .mdc-switch--selected:enabled:focus .mdc-switch__ripple::after {
  background: #9ef4e3 !important;
}

::ng-deep .mdc-switch__track::after {
  background: #60baa8 !important;
}
::ng-deep .mdc-switch:enabled:focus:not(:active) .mdc-switch__track::after {
  background-color: #60baa8 !important;
}

::ng-deep .mdc-switch--selected .mdc-switch__icon {
  fill: #60baa8 !important;
}

::ng-deep .mdc-switch--unselected:enabled .mdc-switch__handle::after {
  background: grey !important;
}

::ng-deep .mdc-switch--unselected .mdc-switch__icon {
  fill: white !important;
}
::ng-deep .mdc-switch__track::before {
  border-color: grey !important;
}

::ng-deep
  .mdc-switch--selected:enabled:focus:not(:active)
  .mdc-switch__handle::after {
  background: #e8fbf7 !important;
}

.add-edit-agents ::ng-deep .mat-mdc-dialog-content {
  max-height: 80vh !important;
}

/* component.css */
input[type="radio"] {
  accent-color: #0e0e0e; /* Tailwind sky-500 */
}

/* form corners */
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 0 !important;
  box-shadow: none !important; /* optional: removes shadow */
}


.invalid-msg {
  color: #e15050;
  font-size: 12px;
  margin-left: 12px;
}