.poppins {
  font-family: "Poppins", sans-serif !important;
}

body {
  font-family: "Raleway", sans-serif !important;
  background-color: #f7f9fc;
}

h2 {
  font-family: "Poppins", sans-serif;
}
.raleway{
  font-family: "Raleway", sans-serif !important;
}
.table-header th {
  font-weight: 600;
  color: #000000;
  padding: 8px 16px;
  text-transform: capitalize;
  text-align: center;

}

.table-row td {
  padding: 5px 16px;
  border-top: 1px solid #e5e7eb;
  color: #1f2937;
  text-align: center;
}

.table-row td span {
  font-weight: 600;
}

th:first-child, td:first-child {
    text-align: left !important;
}
th:nth-child(2), td:nth-child(2) {
   text-align: left !important;
}

.wrap-msg {
  white-space: nowrap;       /* keep it in one line */
  overflow: hidden;          /* hide extra text */
  text-overflow: ellipsis;   /* show "..." at the end */
  width: 170px !important;          /* set a width limit */
  display: inline-block;
}

::ng-deep  .mat-mdc-menu-panel .mat-divider{
  margin-left: 0.8rem !important;
  margin-right: 0.8rem !important;
}
::ng-deep .custom-menu .mat-mdc-menu-item {
  min-height: 40px !important;
  padding: 0 20px !important;
  gap: 6px;
}
/* ::ng-deep .custom-menu .mat-mdc-menu-content {
  background-color: white !important;
  border-radius: 10px;
}


::ng-deep .custom-menu .mat-mdc-menu-panel {
  border-radius: 10px !important;
} */
::ng-deep .custom-menu .mdc-menu-item-text {
  font-family: "Raleway", sans-serif !important;
}

::ng-deep .custom-menu .material-icons {
  font-size: 19px;
  margin-top: 4px;
}

 ::ng-deep .custom-menu .mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
   font-family: "Raleway", sans-serif !important;
 }

 .wrap-msg {
  white-space: nowrap;       /* keep it in one line */
  overflow: hidden;          /* hide extra text */
  text-overflow: ellipsis;   /* show "..." at the end */
  max-width: 250px;          /* set a width limit */
  display: inline-block;
}

::ng-deep .mat-mdc-dialog-surface{
  overflow-y:unset !important;
}
