<div class="min-h-screen p-4 space-y-4">
  <div *ngFor="let agent of agents; let i = index" class="flex flex-col mb-4">
    <!-- Agent Row -->
    <div class="bg-white border  rounded-md px-4 py-2 flex items-center justify-between hover:shadow-md">
      <div class="flex items-center gap-4">
        <div class="w-12 h-12 rounded-full overflow-hidden">
          <img [src]="agent.avatarUrl" class="w-full h-full object-cover" />
        </div>
        <div class="flex flex-col">
          <h3 class="font-semibold text-black">{{ agent.name }}</h3>
          <div class="flex space-x-4 text-xs text-gray-900 mt-1">
            <div class="flex items-center space-x-1">
              <span class="material-icons text-base">call</span>
              <span>{{ agent.phone }}</span>
            </div>
            <span>|</span>
            <div class="flex items-center space-x-1">
              <span class="material-icons text-base">email</span>
              <span>{{ agent.email }}</span>
            </div>
          </div>
        </div>
      </div>

      <button (click)="removeAgent(i)">
        <i class="bi bi-x-lg transition-transform duration-300"></i>
      </button>
    </div>
  </div>
</div>
