/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "bootstrap-icons/font/bootstrap-icons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .otp-input {
    @apply w-12 h-12 text-center text-lg font-semibold border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  }
}

body {
  font-family: "Raleway", sans-serif;
}

html,
body {
  height: 100%;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Scrollbar color */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Hover effect */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  /* thin | auto | none */
  scrollbar-color: #888 #f1f1f1;
  /* thumb | track */
}

.otp-backdrop {
  background-color: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(2px);
}


