body {
  font-family: "Raleway", sans-serif !important;
  background-color: #f7f9fc;
}

h2 {
  font-family: "Poppins", sans-serif;
}
table {
  font-family: "Raleway", sans-serif !important;
}

.assign-btn{
  font-family: "Raleway", sans-serif !important;
}